doctype html
html
  head
    title Autor
    link(rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css")
  body
    header(class="w3-container w3-teal")
      h1 Detalhes do Autor #{author} : #{author} Sum: #{somatorio}
    div(class="w3-container")
      table(class="w3-table-all w3-hoverable")
        thead
          tr(class="w3-light-grey")
            th Livros
        tbody
          each livro in livros
            tr
              td #{livro.author}

      footer.w3-container.w3-teal
        address Gerado por EngWeb2024 em #{data}